# ignoring directories in the root directory of the project
/.idea
__pycache__
/venv
*.zip

# ignoring local configurations
config/car_caller_package
config/order_handler_package
config/.terraform
*.tfstate
*.backup

!config/iot_topic_rule.tf
!config/my_funcs.tf