
# ignoring directories in the root directory of the project
/.idea
__pycache__
/venv
*.zip

# ignoring local configurations
config/*
!config/system_config.tf
*.tfstate
*.backup

/build/
/iot_order_system.egg-info/
/dist/

